/* ==========================================================================
   FILE: css/style.css
   Purpose: Colors, Typography, and Visual Aesthetics
   ========================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Rubik:wght@400;500;700&display=swap');

:root {
    /* O fundo passa a branco puro para fundir com a imagem do logótipo */
    --bg-color: #FFFFFF;       
    
    --text-color: #2C2520;       
    --brand-color: #39B54A;       
    --support-color: #1E3525;       
    --accent-color: #D4A373;    

    --font-heading: 'Rubik', sans-serif;
    --font-body: 'Lora', serif;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-body);
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    font-weight: 700;
    color: var(--support-color);
}

a {
    color: var(--support-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    color: #ffffff;
    font-family: var(--font-heading);
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: var(--support-color);
}
